@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
* {
    margin: 0px;
    padding: 0px;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    background-color: #101010;
    /*border: 1px solid red;*/
}
.main-container {
    display: flex;
    flex-direction: column;
    /*border: 1px solid red;*/  
}
#clock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    text-align: center;
    /*border: 1px solid red;*/
    border-radius: 2px;
    font-size: 24px;
    color: whitesmoke;
    margin-top: 10%;
    gap: 8px;
}
#hours {
    background-color: whitesmoke;
    width: 50px;
    color:#101010;
}
#minutes {
    background-color: whitesmoke;
    width: 50px;
    color: #101010;
}
#seconds {
    background-color: whitesmoke;
    width: 50px;
    color: #101010;
}
#hourPeriod {
    background-color: whitesmoke;
    width: 50px;
    color:#101010;
}
#signature {
    display: flex;
    justify-content: flex-start;
    color: whitesmoke;
    /*border: 1px solid red;*/
    margin-top: 8px; 
}
#signature p {
    margin-left: 37.5%;
}
/* work-mode feature 
#signature button {
    margin-left: 0.7%;
    background-color: whitesmoke;
    border: #101010;
    color: #101010;
    width: 100px;   
}
*/